body {
}
#sideNav {
    width: auto;
}
#sideNav ul ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
}

#sideNav ul {
    position: relative;
    z-index: 397;
}

#sideNav ul li {
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
    background: #778899;
 }

#sideNav ul li:hover {
    position: relative;
    z-index: 399;
    cursor: default;
}

#sideNav ul ul{
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 398;
    width: 100%
}

#sideNav ul li:hover >ul {
    visibility: visible;
}

#sideNav ul ul {
    top: 0px;
    left: 99%;
}

#sideNav a {
    color: white !important;
       text-decoration: none;
}

canvas {
    border-width: 5px;
    border-style: dashed;
    border-color: rgba(20, 126, 239, 0.50)
}


div.scrollableContainer {
    position: relative;
    width: 100%;
}

div.scrollingArea {
    height: 80vh;
    overflow: auto;
    padding: 3px;
}

table.scrollable thead tr {
    width: 100%;
    top: 0;
    position: absolute;
}

    table.scrollable thead tr td {
        background-color: #337ab7;
    }

    table.scrollable thead tr th {
        border-bottom: none !important;
        border-left: none !important;
        border-right: none !important;
        left: 0;
    }