<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="yahooBizUrl" value="http://biz.yahoo.com/p/"/>
    <add key="yqlUrl" value="http://query.yahooapis.com/v1/public/yql?q="/>
    <add key="SectorKey" value="s_conameu"/>
    <add key="SectorCount" value="9"/>
  </appSettings>
</configuration>