<section>
    <div class="panel panel-header">
        <div class="form-inline">
            <label>Sectors</label>
            <select ng-options="sector.sectorName for sector in ctrl.sectors" ng-model="ctrl.sector" class="form-control" ng-change="ctrl.getIndustries(sector.sectorId)"></select>
            <label>Search Stock/Company</label>
            <input type="text" ng-model="ctrl.searchQuote" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <ul class="list-group">
                <li ng-repeat="row in ctrl.industries" class="list-group-item"><a href="#" ng-click="ctrl.getStocks(row.sectorId)">{{row.sectorName}}</a></li>
            </ul>
        </div>
    </div>
</section>