<section>
    <div class="panel panel-header">
        <div class="form-inline">
            <label>Sectors</label>
            <select ng-options="sector.sectorName for sector in ctrl.sectors track by sector.sectorId" ng-model="ctrl.sector" class="form-control" ng-change="ctrl.getIndustries(sector.sectorId)"></select>
            <label>Search Stock/Company</label>
            <input type="text" ng-model="ctrl.searchQuote" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div id="cssmenu">
                <ul id="sideNav">
                    <li class="active has-sub" ng-repeat="row in ctrl.industries">
                        <a href="#" ng-click="ctrl.getStocks(row)"><span>{{row.sectorName}}</span> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="scrollableContainer" ng-show="ctrl.companies && ctrl.companies.length > 0">
            <div class="panel panel-header form-inline">
                <input ng-model="ctrl.searchCompany" class="form-control" />
            </div>
            <div class="scrollingArea">
                <div class="col-lg-10">
                    <ul class="list-group">
                        <li ng-repeat="company in ctrl.companies | filter : ctrl.searchCompany" class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a ui-sref="company({symbol: company.symbol, sector: ctrl.sector.sectorId, industry: ctrl.currentIndustry})">{{company.name}}</a>
                                </div>
                                <div class="col-lg-6">
                                    <span>{{company.symbol}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>